body {
    background-image: url('../img/map_texture.jpg');
    font-family: sans-serif;
    color: black;
    letter-spacing: 2px;
}

img {
    width: 75%;
}

#game {
   
    margin: 0 auto;
    width: 70%;
    padding-top: 20px;
    text-align: center;
}

.display {
    display: none;
}

#main {
    
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding-top: 300px;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.answer-button {
    background-color: orange;
    border-color: orange;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.answer-button:hover {
    background-color: rgb(251, 214, 0);
    color: #000000;
    border-color: rgb(251, 214, 0);
}

h3 {
    font-size:40px;
    margin-top: -10px !important;
    font-weight: 700;
    font-style: italic;
}

.timer {
    font-size:40px;
    margin-top: 10px !important;
    font-weight: 500;
}

.questions, .answers {
    font-size:30px;
    margin-top: 10px !important;
    font-weight: 500;
    font-style: italic;
}


.btn {
    background-color: orange;
    border-color: orange;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(251, 214, 0);
    color: #000000;
    border-color: rgb(251, 214, 0);
}

.btn:focus {
    background-color: rgb(251, 121, 0) !important;
    border-color: rgb(251, 121, 0) !important;
}

.btn:active {
    background-color: rgb(251, 121, 0) !important;
    border-color: rgb(251, 121, 0) !important;
}


@media screen and (max-width: 650px) {

    img {
        width: 100%;
    }

    h3 {
        font-size: 30px;
    }

}